body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
fieldset, legend, button, input, textarea,
th, td {
    margin: 0;
    padding: 0;
}
html {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    height: 100%;
    font-family: 'PingFang SC', 'Microsoft YaHei', 'Lantinghei SC', 'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', 'sans-serif', 'SimSun';
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
}

.ant-modal-wrap {
    .ant-tabs-nav-scroll {
        text-align: center;
    }
}

.editor-drop-mention {
    border: 1px solid #d8d8d8;
    min-width: 180px;

    li {
        a {
            display: block;
            height: 30px;
            line-height: 30px;
            padding-left: 10px;
            color: #777;
        }
        a:hover,a.active {
            background-color: #dbe9f8;
            color: #417CD5;
        }
    }
   
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, 0.3);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(50, 50, 50, 0.6);
}
::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, 0.1);
}
::-webkit-scrollbar-track:hover {
    background-color: rgba(50, 50, 50, 0.2);
}