body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
fieldset, legend, button, input, textarea,
th, td {
    margin: 0;
    padding: 0;
}
html {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    height: 100%;
    font-family: 'PingFang SC', 'Microsoft YaHei', 'Lantinghei SC', 'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', 'sans-serif', 'SimSun';
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
}

@import './fonts/iconfont.css';
.ant-modal-wrap {
    .ant-tabs-nav-scroll {
        //text-align: center;
    }
}

.editor-drop-mention {
    border: 1px solid #d8d8d8;
    min-width: 180px;

    li {
        a {
            display: block;
            height: 30px;
            line-height: 30px;
            padding-left: 10px;
            color: #777;
        }
        a:hover,a.active {
            background-color: #dbe9f8;
            color: #417CD5;
        }
    }
   
}
::-webkit-scrollbar {
    height: 8px;
    width: 10px;
    background: transparent;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    min-height: 15px;
    background: rgba(118, 176, 243, 0.3);
    border-radius: 0;
    margin-right: 1px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(118, 176, 243, 0.6);
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-track:hover {
    background: transparent;
}

.side-drawer-popup {
    .ant-drawer-body {
        padding: 0;
    }
}

.folder-menu {
    border-radius: 0;
    padding: 2px 0;
}

.folder-submenu {
    .ant-dropdown-menu-item {
        min-width: 120px;
        height: 30px;
    }
}

#dropdownMenu {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    font-size: 12px;

    li {
        padding: 4px 6px;
        color: #666;
        cursor: pointer;

        &:hover {
            background-color: #dbe9f8;
        }
    }
}

.cke_toolbox .more-box {
    float: left;
    position: relative;
    height: 16px;
    margin: 1px 0;
    padding: 2px;
    line-height: 22px;
    font-size: 0;
    cursor: pointer;

    label {
        color: #949FB1;
        cursor: pointer;
    }

    &:hover {
        background: #d5e1f2;
        color: #333;
    }
    
    .more-options {
        position: absolute;
        display: none;
        height: 40px;
        right: 0;
        top: 100%;
        margin-top: 2px;
        z-index: 20;
        font-size: 0;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        background-color: #fff;
    }

    input[type="checkbox"] {
        display: none;
    }

    input:checked + .more-options {
        display: block;
    }

    .button {
        display: inline-block;
        width: 40px;
        height: 100%;
        &:hover {
            background-color: #e4edf8;
        }

        > i {
            display: block;
            height: 100%;
            background-image: url('../theme/images/icon_more_tools.png');
            background-size: cover;
            cursor: pointer;
        }

        .button-attachment {
            background-position: 3px 0;
        }

        .button-directory {
            background-position: -30px 0;
        }

        .button-note-bg {
            background-position: -63px 0;
        }

        .button-layout {
            background-position: -95px 0;
        }

        .button-puzzle {
            background-position: 38px 0;
        }
    }
}


#cke_1_top.cke_top {
	overflow: visible;
}

#cke_1_top.cke_top:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}